body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.site-login {
  margin-top: 50px;

}

.login-image {
  max-width: 350px;
  height: auto;
}

.form-label {
  font-weight: bold;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  margin-top: 5px;

}

.border {
  border: 1px solid #dee2e6;
}

.rounded {
  border-radius: 0.25rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* #w3-collapse {
  justify-content: flex-end;
} */

.navbar-nav{
  justify-content: flex-end;
}

