/* Cambiar el color del bot칩n "Aceptar" */
.swal2-confirm {
    background-color: #28a745; /* Verde */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swal2-confirm:hover {
    background-color: #218838; /* Verde m치s oscuro al pasar el mouse */
}

/* Cambiar el color del bot칩n "Cancelar" */
.swal2-cancel {
    margin-left: 5px;
    background-color: #dc3545; /* Rojo */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swal2-cancel:hover {
    background-color: #c82333; /* Rojo m치s oscuro al pasar el mouse */
}
